extends ./layout/default

block title
    title Koa 豆瓣测试

block content
    .container
        .row
            .col-md-8
                h1 Hi #{name}
                p This is #{me}
            .col-md-4
                p 测试一下 Pug 模板引擎